@import "~bootstrap/scss/bootstrap";
html, body {
    background-color: #fff!important;
}
body{
    margin-top: 9rem!important;
    text-align: center!important;
}
a, button{
    letter-spacing: 3px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.fixed {
    box-shadow: 0 2px 4px #8B8B8B;
}

.container {
    margin: 8rem auto!important;
}

.row div {
    height: 10rem;
}

.sections {
    height: 27rem;
    margin: 10rem 7rem;
    z-index: 2;
    border-radius: 0.4rem;
    box-shadow: 0px 3px 6px 2px grey;
    display: grid;
    grid-gap: 0.3rem;
}

.section-title {
    padding: 2rem;
    font-size: 1rem;
    letter-spacing: 0.3rem;
}

.section-content {
    padding: 0.6rem 6rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.firstPic {
    grid-column: 1 / span 7;
    grid-row: 1 / span 2;
    background-image: url('../img/house.jpeg');
    background-position: center center;
/* background-attachment: fixed;*/
    background-size: cover;
    border-radius: 0.4rem 0 0 0.4rem;
}

.secondPic {
    grid-column: 8 / span 4;
    grid-row: 1;
    background-image: url('../img/casino.jpeg');
    background-position: center center;
/* background-attachment: fixed;*/
    background-size: cover;
    border-radius: 0 0.4rem 0 0;
}

.thirdPic {
    grid-column: 8 / span 4;
    grid-row: 2;
    background-image : url('../img/money.jpeg');
    background-position: center center;
/* background-attachment: fixed;*/
    background-size: cover;
    border-radius: 0 0 0.4rem 0;
}

.firstPic:hover,
.secondPic:hover,
.thirdPic:hover {
    opacity: 0.6;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    color: #000!important;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.hovereffect a {
    letter-spacing: 0.1rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/* footer */
.copyright {
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: .1rem;
}

.formulaire {
    margin: 2rem 35rem;
}