
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Jeu de la roulette</title>
    <link rel="stylesheet" href="../public/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<?php
    include 'navbar.html';
     ?>
<div class="sections">
    <div class="firstPic">
        <div class="hovereffect">
            <!-- <img class="img-responsive" src="../../../assets/img/welcome.jpg" alt=""> -->
            <div class="overlay">
                <h2>À la une</h2>
                <p>
                    <a>Le top des articles</a>
                </p>
            </div>
        </div>
    </div>
    <div class="secondPic">
        <div class="hovereffect">
            <div class="overlay">
                <h2>Classement</h2>
                <p>
                    <a>Le top / flop des joueurs</a>
                </p>
            </div>
        </div>
    </div>
    <div class="thirdPic">
        <div class="hovereffect">
            <div class="overlay">
                <h2>La maison</h2>
                <p>
                    <a>Le montant actuel de la maison</a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>