{% extends 'base.html.twig' %}
{% block body %}
    <h3 class="ml-5 simple-space font-weight-light">Articles du moment</h3>

    <table class="table mt-5 mb-5">
        <tbody>

        {% for article in articles %}
            <tr name="listeArticle">
                <td class="simple-space small-font">{{ article.id }}</td>
                <td class="simple-space small-font">{{ article.auteur}}</td>
                <td class="simple-space small-font">{{ "18/01/2019"}}</td>
            </tr>
        {% endfor %}

        </tbody>
        <thead>
        <tr>
            <th class="simple-space border-0" scope="col">Articles</th>
            <th class="simple-space border-0" scope="col">Auteur</th>
            <th class="simple-space border-0" scope="col">Date</th>
        </tr>
        </thead>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link simple-space text-dark" href="#" tabindex="-1">Retour</a>
            </li>
            <li class="page-item"><a class="page-link simple-space text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link simple-space text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link simple-space text-dark" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link simple-space text-dark" href="#">Suivant</a>
            </li>
        </ul>
    </nav>
{% endblock %}