{% extends 'base.html.twig' %}
{% block body %}
<nav class="navbar navbar-expand-lg p-3 fixed-top bg-dark fixed menu-shadow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <button type="button" class="btn btn-success text-center text-uppercase ml-2">Jouer</button>
    </ul>
    <ul class="form-inline my-2 my-lg-0">
      <a class="nav-link mr-2 ml-2 text-uppercase text-light">Connexion</a>
      <a class="nav-link mr-2 ml-2 text-uppercase text-light">Créer un compte</a>
    </ul>
  </div>
</nav>
{% endblock %}